services:

  postgres-setup:
    image: kdcube-postgres-setup:latest
    container_name: kdcube-postgres-setup
    build:
      context: ../../..
      dockerfile: deployment/docker/all_in_one/Dockerfile_PostgresSetup
    env_file:
      - path: ./.env.backend
        required: false
    networks:
      - kdcube-internal
    restart: "no"

  clamav:
    image: clamav/clamav:stable
    container_name: kdcube-clamav
    platform: linux/amd64
    restart: unless-stopped
    networks:
      - kdcube-internal
    environment:
      - CLAMD_START=1
      - FRESHCLAM_CHECKS=24
    healthcheck:
      test: [ "CMD-SHELL", "clamdscan --version || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 10
    volumes:
      - ./data/clamav:/var/lib/clamav
    ports:
      - "127.0.0.1:3310:3310"

#  kb:
#    image: kdcube-kb:latest
#    container_name: kdcube-kb
#    build:
#      context: ../../..
#      dockerfile: deployment/docker/all_in_one/Dockerfile_KB
#    profiles:
#      - optional  # Not started by default
#    env_file:
#      - path: ./.env.backend
#        required: false
#    environment:
#      - POSTGRES_HOST=postgres-db
#      - LOG_FILE_PREFIX=kb
#    volumes:
#      - ./data/kdcube-storage:/kdcube-storage
#      - ./data/exec-workspace:/exec-workspace
#      - ./logs/kb:/logs
#    depends_on:
#      postgres-setup:
#        condition: service_completed_successfully
#    networks:
#      - kdcube-internal
#
#  dramatiq:
#    image: kdcube-dramatiq:latest
#    container_name: kdcube-dramatiq
#    build:
#      context: ../../..
#      dockerfile: deployment/docker/all_in_one/Dockerfile_Dramatiq
#    profiles:
#      - optional  # Not started by default
#    env_file:
#      - path: ./.env.backend
#        required: false
#    environment:
#      - POSTGRES_HOST=postgres-db
#      - LOG_FILE_PREFIX=dramatiq
#    volumes:
#      - ./data/kdcube-storage:/kdcube-storage
#      - ./logs/dramatiq:/logs
#    depends_on:
#      postgres-setup:
#        condition: service_completed_successfully
#      kb:
#        condition: service_started
#    networks:
#      - kdcube-internal

  chat:
    image: kdcube-chat:latest
    container_name: kdcube-chat
    build:
      context: ../../..
      dockerfile: deployment/docker/all_in_one/Dockerfile_Chat
    env_file:
      - path: ./.env.backend
        required: false
    environment:
      - CLAMAV_HOST=clamav
      - CLAMAV_PORT=3310
      - LOG_FILE_PREFIX=chat
      - HOST_KB_STORAGE_PATH=${HOST_KB_STORAGE_PATH}
      - HOST_BUNDLES_PATH=${HOST_BUNDLES_PATH}
      - HOST_EXEC_WORKSPACE_PATH=${HOST_EXEC_WORKSPACE_PATH}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data/kdcube-storage:/kdcube-storage
      - ./data/exec-workspace:/exec-workspace
      - ./logs/chat:/logs
      - type: bind
        source: ${HOST_BUNDLES_PATH?}           # host root with all bundles
        target: ${AGENTIC_BUNDLES_ROOT?}       # e.g. /bundles inside the container
      - type: bind
        source: ${HOME}/.aws
        target: /home/appuser/.aws
        read_only: true
    depends_on:
      postgres-setup:
        condition: service_completed_successfully
      clamav:
        condition: service_healthy
    networks:
      - kdcube-internal
    ports:
      - "127.0.0.1:8000:8010"

  web-ui:
    image: kdcube-web-ui:latest
    container_name: kdcube-web-ui
    build:
      context: ${UI_BUILD_CONTEXT}
      dockerfile: ${UI_DOCKERFILE_PATH}
      args:
        - UI_SOURCE_PATH=${UI_SOURCE_PATH}
        - UI_ENV_BUILD_RELATIVE=${UI_ENV_BUILD_RELATIVE}
        - NGINX_CONFIG_FILE_PATH=${NGINX_UI_CONFIG_FILE_PATH}
    env_file:
      - path: ${UI_ENV_FILE_PATH}
        required: false
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    depends_on:
      chat:
        condition: service_started
    networks:
      - kdcube-internal

  proxylogin:
    image: proxylogin:latest
    build:
      no_cache: true
      context: ../../..
      dockerfile: deployment/docker/all_in_one/Dockerfile_ProxyLogin
    env_file:
      - path: ./.env.proxylogin
        required: false
    networks:
      - kdcube-internal
    volumes:
      - type: bind
        source: ${HOME}/.aws
        target: /home/proxylogin/.aws
        read_only: true

  web-proxy:
    image: kdcube-web-proxy:latest
    container_name: kdcube-web-proxy
    build:
      context: ${PROXY_BUILD_CONTEXT}
      dockerfile: ${PROXY_DOCKERFILE_PATH}
      args:
        - NGINX_CONFIG_FILE_PATH=${NGINX_PROXY_CONFIG_FILE_PATH}
    restart: unless-stopped
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - ./nginx/webroot:/var/www/letsencrypt
    depends_on:
      chat:
        condition: service_started
      web-ui:
        condition: service_started
      proxylogin:
        condition: service_started
    networks:
      - kdcube-external
      - kdcube-internal
    ports:
      - "80:80"
      - "443:443"

networks:
  kdcube-external:
    driver: bridge
  kdcube-internal:
    driver: bridge

#volumes:
#  redis-data:
#  postgres-data:
#  clamav-db: